.section {
  padding: 60px 0;
}

.container {

  margin: 0 auto;
  padding: 0 16px;

  @include mobile {
    width: 480px;
  }

  @include tablet {
    width: 768px;
  }

  @include desktop {
    width: 1200px;
  }
}
