%button{
    padding: 11px 26px;
    border-radius: 10px;
    color: var(--color--base);
    border:2px solid var(--color-default);
    background-color: transparent;
    cursor: pointer;

    font-weight: 600;
    line-height: calc(15 / 12);
}
