:root{

// base color
    --color-bg: #84A178;
    --color-base: #131313;

    
// primary colors
    --color-default: #F8D24E;
    --color-focus: #FCFCFC;
    --color-hover: #0A8817;
    --color-disabled: #7A7A7A;

}