textarea {
  resize: none;
}

.overlay {
  /* Скрываем подложку  */
  opacity: 0;
  visibility: hidden;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #88bc75cf;
  z-index: 20;
  transition: all var(--cubic);
}

.overlay.is-hidden {
  visibility: hidden;
  opacity: 0;
}

.modal {
  /* Скрываем окна  */
  opacity: 0;
  visibility: hidden;

  /*  Установаем ширину окна  */
  width: 100%;
  max-width: 600px;

  /*  Центрируем и задаем z-index */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30; /* Должен быть выше чем у подложки*/

  /*  Побочные стили   */
  box-shadow: 0 3px 10px -0.5px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 30px;
  border-radius: 10px;
  border: 2px solid var(--color-default);
  background-color: var(--color-focus);
  transition: all var(--cubic);
  transform: translate(-50%, -50%) scale(1) rotate(0);

  @media screen and (max-width: 767px) {
    width: 280px;
    height: 90%;
    overflow-y: scroll;
  }
}
.overlay.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0) rotate(-180deg);
  border-radius: 50%;
}
.overlay.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0) rotate(-180deg);
  border-radius: 50%;
}
/* Стили для активных классов подложки и окна */

.modal.active,
.overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal__close {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border-radius: 50%;
  border: transparent;
  transition: fill var(--cubic);
  &:hover {
    fill: rgba(93, 143, 118, 0.419);
  }
}

.form__button {
  margin: auto;

  padding: 12px 34px;

  background: var(--color-default);
  border-radius: 10px;
  border: transparent;

  @include font(600, 14px, 17px, null);

  display: flex;
  align-items: center;
  text-align: center;
  color: var(--color-base);

  transition: var(--cubic);

  @media screen and (max-width: 767px) {
    @include font(600, 14px, 17px, null);
  }
}

.form__button:hover,
.form__button:focus {
  background-color: var(--color-hover);
}
