.content__bg {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.modal__buytitle {
  font-family: 'Seymour One';
  @include font(400, 20px, 28px, null);

  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  color: var(--color-base);

  margin-bottom: 103px;

  @media screen and (max-width: 767px) {
    @include font(400, 16px, 24px, null);
  }
}

.content {
  display: flex;

  align-items: center;
  text-align: center;
  justify-content: center;

  margin-bottom: 40px;

  @media screen and (max-width: 767px) {
    flex-direction: column;

    margin-bottom: 32px;
  }
}

.content__item {
  position: relative;
  width: 132px;
  height: 135px;
}

.content__item:not(:last-child) {
  margin-right: 25px;

  @media screen and (max-width: 767px) {
    margin-bottom: 82px;
    margin-right: 0;
  }
}

.content__bg {
  position: absolute;
  width: 132px;
  height: 135px;

  top: 0;
  left: 0;

  transition: var(--cubic);
}

.content__bg--icecream {
  border: 2px solid #96af8c;
  filter: drop-shadow(0px 5.26027px 19.726px rgba(212, 20, 67, 0.1));
  border-radius: 15px;
}

.content__bg--icecream:after {
  position: absolute;
  content: '';

  top: 10%;
  left: 50%;

  transform: translate(-50%, -50%);

  width: 132px;
  height: 132px;

  background: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #d9d9d9;
  box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);

  border-radius: 98px;
}

.content__bg--icecream:checked {
  background-color: #96af8c;
}

.content__bg--icecoffee {
  border: 2px solid #efd478;
  filter: drop-shadow(0px 5.26027px 19.726px rgba(212, 20, 67, 0.1));
  border-radius: 15px;
}

.content__bg--icecoffee:after {
  position: absolute;
  content: '';

  top: 10%;
  left: 50%;

  transform: translate(-50%, -50%);

  width: 132px;
  height: 132px;

  background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #d9d9d9;
  box-shadow: 0px 5.26027px 19.726px rgba(153, 114, 23, 0.25);

  border-radius: 98px;
}

.content__bg--icecoffee:checked {
  background-color: #efd478;
}

.content__bg--milkshake {
  border: 2px solid #d6936d;
  filter: drop-shadow(0px 5.26027px 19.726px rgba(212, 20, 67, 0.1));
  border-radius: 15.7808px;
}

.content__bg--milkshake:after {
  position: absolute;
  content: '';

  top: 10%;
  left: 50%;

  transform: translate(-50%, -50%);

  width: 132px;
  height: 132px;

  background: linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7)), #d9d9d9;
  box-shadow: 0px 5.26027px 19.726px rgba(0, 0, 0, 0.25);

  border-radius: 98px;
}

.content__bg--milkshake:checked {
  background-color: #d6936d;
}

.content__name {
  position: absolute;

  top: 70%;
  left: 12%;

  @include font(700, 16px, 20px, 0.04em);

  text-align: center;
  text-transform: uppercase;

  color: var(--color-base);
}

.content__img {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 132px;
  height: 132px;

  display: block;

  cursor: pointer;

  border-radius: 98px;
}

.content__img--icecream {
  background-image: url(../images/buynow_modal1-1x.png);
  @include retina {
    background-image: url(../images/buynow_modal1-2x.png);
    background-size: 132px 132px;
  }
}

.content__img--icecoffee {
  background-image: url(../images/buynow_modal2-1x.png);
  @include retina {
    background-image: url(../images/buynow_modal2-2x.png);
    background-size: 132px 132px;
  }
}

.content__img--milkshake {
  background-image: url(../images/buynow_modal3-1x.png);
  @include retina {
    background-image: url(../images/buynow_modal3-2x.png);
    background-size: 132px 132px;
  }
}
