.modal__close {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border-radius: 50%;
  border: transparent;
}

.modal__title {
  width: 322px;

  font-family: 'Seymour One', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;

  display: flex;
  align-items: center;
  text-align: center;

  margin-right: auto;
  margin-left: auto;

  margin-bottom: 24px;
}

.modal__text {
  width: 448px;

  text-align: left;

  margin-right: auto;
  margin-left: auto;
  margin-bottom: 32px;

  font-weight: 400;
  font-size: 16px;
  line-height: 140%;

  color: #131313;
}

input,
textarea {
  margin: 0;

  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a178;
  border-radius: 10px;
}

.form {
  // display: flex;
  // flex-direction: column;

  // width: 100%;
  // margin-left: auto;
  // margin-right: auto;

  align-items: center;
}

.form__input {
  width: 368px;

  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 16px;

  margin-bottom: 16px;
}

.form__input--comment {
  margin-bottom: 32px;
}

.form__input::placeholder {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #131313;
}

.form__input--comment {
  padding: 12px;
  height: 84px;
}

.form__button {
  margin: auto;

  padding: 12px 34px;

  background: #f8d24e;
  border-radius: 10px;
  border: transparent;

  font-weight: 600;
  font-size: 14px;
  line-height: calc(17 / 14);
  display: flex;
  align-items: center;
  text-align: center;
  color: #131313;
}
