.modal__loctitle {
  font-family: 'Seymour One';

  @include font(400, 20px, 28px, null);

  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  margin-bottom: 32px;

  color: var(--color-base);

  @media screen and (max-width: 767px) {
    @include font(400, 16px, 24px, null);
  }
}

.modal__map {
  margin-bottom: 32px;

  @media screen and (max-width: 767px) {
    width: 224px;
    height: 199px;
  }
}

.modal__button {
  padding: 12px 34px;

  background: #f8d24e;
  border-radius: 10px;
  border: transparent;
}

.modal__link {
  @include font(600, 14px, 17px, null);

  display: flex;
  align-items: center;
  text-align: center;

  color: var(--color-base);
}
