.modal__readtitle {
  justify-content: center;

  margin-bottom: 32px;

  font-family: 'Seymour One';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;

  display: flex;
  align-items: center;
  text-align: center;

  color: #131313;
}

.modal__video {
  margin-bottom: 32px;
}

.modal__readtext {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;

  color: #131313;
}
