
<section class="about section " >
<div class="about__container container" id="about">
  <div class="about__block ">
    <h2 class="about__text">tradition and love</h2>
    <h3 class="about__title">how it’s made?</h3>
  </div>
  <div class="about__info">
   <span class="about__img"></span>
    
    <div class="about__text--block">
      <ul class="about__list">
        <li class="about__items">Ice is a place where you will become not only a little happier, but also healthier. Health is the main value for us, and we follow it when creating our handmade desserts. </li>
        <li class="about__items">We use traditional recipes and 100% natural ingredients. Our products are so natural that they can be given to children from the age of three years. Sweets lovers can expect 55 types of ice cream, 15 types of coffee and 23 milkshakes. </li>
        <li class="about__items about__items--none">This is enough to choose ice cream and coffee for any mood!</li>   
      </ul>
      <button class="about__button" type="button">
        Read more
        <svg class="about__img--btn" width="12" height="12">
          <use href="./images/symbol.svg#icon-button"></use>
        </svg>
      </button>
    </div>
  </div>
</div>
</section>