<section class="about-ice-comp">
  <div class="container">
    <div class="tradition-title">
      <p class="tradition-title__subtitle">tradition and love</p>
      <h2 class="tradition-title__title">how it’s made?</h2>
    </div>
    <div class="pucture pucture--circle">
     
      <picture>
        <source srcset="./images/cow_desktop-1x.png 1x, ./images/cow_desktop-2x.png 2x"
        media="(min-width:1200px)">
        <source srcset="./images/cow_tablet-1x.png 1x, ./images/cow_tablet-2x.png 2x"
        media="(min-width:768px)">
        <source srcset="./images/cow_mobile-1x.png 1x, ./images/cow_mobile-2x.png 2x"
        media="(min-width:480px)">
        <img
        class="pucture__img"
        srcset="./images/cow_desktop-1x.png 1x, ./images/cow_desktop-2x.png 2x"
        src="./images/cow_desktop-1x.png"
        alt="cow"
        width="279"
        height="278"
      />
      </picture>
    </div>
    <div class="content-wrap">
      <p class="content-wrap__ise-text">
        Ice is a place where you will become not only a little happier, but also healthier. Health
        is the main value for us, and we follow it when creating our handmade desserts.
      </p>
      <p class="content-wrap__product-text">
        We use traditional recipes and 100% natural ingredients. Our products are so natural that
        they can be given to children from the age of three years. Sweets lovers can expect 55 types
        of ice cream, 15 types of coffee and 23 milkshakes.
      </p>
      <p class="content-wrap__text">This is enough to choose ice cream and coffee for any mood!</p>
      <button type="button" class="content-wrap__btn">
        Read more
        <svg class="button__img" width="12" height="12">
          <use href="./images/symbol.svg#icon-button"></use>
        </svg>
          </button>
    </div>
  </div>
</section>
