<section class="advantages">
  <div class="container">
    <h2 class="visually-hidden">Advantages</h2>
    <ul class="advantages__list">
      <li class="advantages__item advantages__cow">
        <p class="advantages__text">721</p>
        <p class="advantages__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="advantages__item advantages__weight">
        <p class="advantages__text">16kg</p>
        <p class="advantages__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="advantages__item advantages__ice">
        <p class="advantages__text">84</p>
        <p class="advantages__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
    </ul>
  </div>
</section>
