<section class="advantages">
  <div class="container">
    <h2 class="visually-hidden">Advantages</h2>
    <ul class="advantages__list">
      <li class="advantages__item item-cow">
        <div class="advantages__box">
          <p class="advantages__text">721</p>
          <p class="advantages__description">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </div>
      </li>
      <li class="advantages__item item-weight">
        <div class="advantages__box">
          <p class="advantages__text">16kg</p>
          <p class="advantages__description">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </div>
      </li>
      <li class="advantages__item item-ice">
        <div class="advantages__box">
          <p class="advantages__text">84</p>
          <p class="advantages__description">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
