<section class="section section__review">
    <div class="container">
        <h2 class="visually-hidden">Customers Reviews</h2>
        <!-- slider -->
        <div class="slider">
            <!-- slider element 1 -->
            <div class="slider__item">
                <img class="slider__image" src="./images/1.jpg" alt="Andriy" width="85">
                <div class="slider__textarea">
                    <p class="slider__text">I always go here for the tiramisus cuz I am a huge chocolate lover. But all
                        other icecreams are also worth trying.
                        Wonderful milk shakes with reasonable prices.</p>
                </div>
                <p class="slider__aftertext">Andriy</p>
            </div>

            <!-- slider element 2 -->
            <div class="slider__item">
                <img class="slider__image" src="./images/2.jpg" alt="Maryna" width="85">
                <div class="slider__textarea">
                    <p class="slider__text">It's freshly made ice cream. The best place to have ice cream. The quality
                        is good and worth its price. Hope the price
                        don't increase</p>
                </div>
                <p class="slider__aftertext">Maryna</p>
            </div>

            <!-- slider element 3 -->
            <div class="slider__item">
                <img class="slider__image" src="./images/3.jpg" alt="Natali" width="85">
                <div class="slider__textarea">
                    <p class="slider__text">Ice cream is my passion! I love your chocolate hazelnut ice cream! And I
                        really like the excellent service - always
                        served politely and quickly!</p>
                </div>
                <p class="slider__aftertext">Natali</p>
            </div>

            <!-- slider element 4 -->
            <div class="slider__item">
                <img class="slider__image" src="./images/4.jpg" alt="Tetiana" width="85">
                <div class="slider__textarea">
                    <p class="slider__text">This is an awesome ice cream parlor! It is super clean, offers great
                        variety, and delivers generous portions for a great
                        price. Love this place</p>
                </div>
                <p class="slider__aftertext">Tetiana</p>
            </div>

            <!-- slider element 5 -->
            <div class="slider__item">
                <img class="slider__image" src="./images/5.jpg" alt="Volodymyr" width="85">
                <div class="slider__textarea">
                    <p class="slider__text">It was fun choosing your own ice cream flavors. As a result, the taste
                        turned out to be unusual and very cool. The ice
                        cream making process was fascinating.</p>
                </div>
                <p class="slider__aftertext">Volodymyr</p>
            </div>

            <!-- slider element 6 -->
            <div class="slider__item">
                <img class="slider__image" src="./images/6.jpg" alt="Sergiy" width="85">
                <div class="slider__textarea">
                    <p class="slider__text">I love visiting your cafe. You prepare the most delicious ice cream! In
                        addition, you have beautiful
                        serving, cozy atmosphere and polite staff.</p>
                </div>
                <p class="slider__aftertext">Sergiy</p>
            </div>

            <!-- slider element 7 -->
            <div class="slider__item">
                <img class="slider__image" src="./images/7.jpg" alt="Bogdan" width="85">
                <div class="slider__textarea">
                    <p class="slider__text">Every day we come to you with friends after classes in college. We love your
                        ice cream and casual atmosphere!
                        The service is great and the prices are affordable.</p>
                </div>
                <p class="slider__aftertext">Bogdan</p>
            </div>

            <!-- slider element 8 -->
            <div class="slider__item">
                <img class="slider__image" src="./images/8.jpg" alt="Ruslan" width="85">
                <div class="slider__textarea">
                    <p class="slider__text">OK hands-down this is the best ice cream I think I’ve ever had an existence
                        of my life. It’s so creamy and delicious.
                        There’s pieces of chocolate all around it, inside of it.</p>
                </div>
                <p class="slider__aftertext">Ruslan</p>
            </div>

            <!-- slider element 9 -->
            <div class="slider__item">
                <img class="slider__image" src="./images/9.jpg" alt="Elena" width="85">
                <div class="slider__textarea">
                    <p class="slider__text">If you want a pleasant family experience and want to feel welcome, this is
                        the place! Great prices, great selection,
                        great service and overall fun!</p>
                </div>
                <p class="slider__aftertext">Elena</p>
            </div>

            <!-- slider element 10 -->
            <div class="slider__item">
                <img class="slider__image" src="./images/10.jpg" alt="Vitaliy" width="85">
                <div class="slider__textarea">
                    <p class="slider__text">Delicious, natural sweets for a pleasant price. Friendly staff. Modern and
                        beautiful design. We always visit this
                        establishment whenever possible</p>
                </div>
                <p class="slider__aftertext">Vitaliy</p>
            </div>

        </div>
    </div>
</section>