<footer class="footer container">
  <div class="footer__box">
    <div class="footer__thumb">
      <p class="footer__title">homemade ice cream made</p>
      <p class="footer__subtitle">with passion</p>
    </div>
    <div class="footer__socials__box">
      <ul class="footer__socials__list">
        <li class="footer__socials__items">
          <a class="footer__socials__link link" href="https://github.com/"
            ><svg class="footer__socials__icon" width="34" height="34">
              <use href="./images/symbol.svg#icon-github"></use></svg></a>
        </li>
        <li class="footer__socials__items">
          <a
            class="footer__socials__link link"
            href="https://web.telegram.org/k/"
            ><svg class="footer__socials__icon" width="34" height="34">
              <use href="./images/symbol.svg#icon-telegram"></use></svg></a>
        </li>
        <li class="footer__socials__items">
          <a
            class="footer__socials__link link"
            href="https://uk-ua.facebook.com/"
            ><svg class="footer__socials__icon" width="34" height="34">
              <use href="./images/symbol.svg#icon-facebook"></use></svg></a>
        </li>
      </ul>
      <p class="footer__tel">
        <a class="footer__tel__link link" href="tel:+610383766284">
          <span class="footer__tel__text">Feel free to contact </span>+61 (0)
          383 766 284
        </a>
      </p>
    </div>
  </div>
  <div class="license__box">
      <p class="license__text">© 2022 - IceCream. All Rights Reserved.</p>
    </div>
</footer>
