<section class="section section__galery">
    <div class="container">
        <h2 class="visually-hidden">Galery</h2>
        <div class="galery">

            <div class="galery__item">
                <picture>
                    <source srcset="./images/galery1_desktop-1x.png 1x, ./images/galery1_desktop-2x.png 2x"
                        media="min-width:1200px" />
                    <source srcset="./images/galery1_tablet-1x.png 1x, ./images/galery1_tablet-2x.png 2x"
                        media="min-width:768px" />
                    <source srcset="./images/galery1_mobile-1x.png 1x, ./images/galery1_mobile-2x.png 2x"
                        media="min-width:420px" />
                    <img src="./images/galery1_desktop-1x.png" alt="ice cream cones" width="1013" />
                </picture>
            </div>

            <div class="galery__item">
                <picture>
                    <source srcset="./images/galery2_desktop-1x.png 1x, ./images/galery2_desktop-2x.png 2x"
                        media="min-width:1200px" />
                    <source srcset="./images/galery2_tablet-1x.png 1x, ./images/galery2_tablet-2x.png 2x"
                        media="min-width:768px" />
                    <source srcset="./images/galery2_mobile-1x.png 1x, ./images/galery2_mobile-2x.png 2x"
                        media="min-width:420px" />
                    <img src="./images/galery2_desktop-1x.png" alt="ice cream cones" width="1013" />
                </picture>
            </div>

            <div class="galery__item">
                <picture>
                    <source srcset="./images/galery3_desktop-1x.png 1x, ./images/galery3_desktop-2x.png 2x"
                        media="min-width:1200px" />
                    <source srcset="./images/galery3_tablet-1x.png 1x, ./images/galery3_tablet-2x.png 2x"
                        media="min-width:768px" />
                    <source srcset="./images/galery3_mobile-1x.png 1x, ./images/galery3_mobile-2x.png 2x"
                        media="min-width:420px" />
                    <img src="./images/galery3_desktop-1x.png" alt="ice cream cones" width="1013" />
                </picture>
            </div>

        </div>
    </div>
</section>