<header class="header">
  <div class="container header__box">
    <svg width="60" height="65" class="header__logo">
      <use href="./images/symbol.svg#icon-logo"></use>
    </svg>
    <nav class="navigation">
      <ul class="navigation__list">
        <li class="navigation__item">
          <a href="#" class="navigation__link">Home</a>
        </li>
        <li class="navigation__item">
          <a href="#" class="navigation__link navigation__link--active link"
            >How it’s made?</a
          >
        </li>
        <li class="navigation__item">
          <a href="#" class="navigation__link">Our products</a>
        </li>
        <li class="navigation__item">
          <a href="#" class="navigation__link">Contact</a>
        </li>
      </ul>
    </nav>
    <button type="button" class="button header__button">
      Buy now
      <svg width="12" height="12" class="header__item">
        <use href="./images/symbol.svg#icon-button"></use>
      </svg>
    </button>
  </div>
</header>
