<nav>
    <div class="mob__modal container js-menu-container">
        <div class="mob__menu">
                <div class="mob__block">
                    <svg width="48" height="44">
                        <use href="./images/symbol.svg#icon-logo"></use>
                    </svg>
                    </a>
                    <button class="mob__button js-close-menu " type="button">
                        <svg  width="20" height="20">
                            <use href="./images/symbol.svg#icon-menu-close_wight"></use>
                        </svg>
                    </button>
                </div>
               
                    <div class="mob__block--flex">
                        <ul  class="mob__list">
                            <li class="mob__items"><a class="mob__links"  href="">Home</a></li>
                            <li class="mob__items"><a class="mob__links" href="">How it’s made?</a></li>
                            <li class="mob__items"><a class="mob__links" href="">Our products</a></li>
                            <li class="mob__items"><a class="mob__links" href="">Contact</a></li>
                          </ul>
                          <button class="mob__button--buy" type="button">Buy now
                              <svg class="button__img" width="6" height="10">
                                  <use href="./images/symbol.svg#icon-button"></use>
                              </svg>
                          </button>
                    </div>
                </div>
                
    </div>
        
    
</nav>