<!-- Buy now  -->

<div class="modal" data-modal="buynow">
  <button type="submit" class="modal__close js-modal-close" data-modal-close>
    <svg class="close" width="13px" height="13px">
      <use href="./images/symbol.svg#icon-menu-close_black"></use>
    </svg>
  </button>
  <h2 class="modal__buytitle">Buy now</h2>
  <ul class="content">
    <li class="content__item">
      <a href="#" class="content__link content__item--icecream">
        <p class="content__name">ICE CREAM</p>
        <div class="content__bg content__bg--icecream"></div>
        <div class="content__img content__img--icecream"></div
      ></a>
    </li>
    <li class="content__item">
      <a href="#" class="content__link content__item--icecoffee">
        <p class="content__name">ICE COFFEE</p>
        <div class="content__bg content__bg--icecoffee"></div>
        <div class="content__img content__img--icecoffee"></div
      ></a>
    </li>
    <li class="content__item">
      <a href="#" class="content__link content__item--milkshake">
        <p class="content__name">MILKSHAKE</p>
        <div class="content__bg content__bg--milkshake"></div>
        <div class="content__img content__img--milkshake"></div
      ></a>
    </li>
  </ul>
  <form class="form">
    <input
      type="text"
      name="name-user"
      placeholder="Name"
      required
      pattern="^[a-zA-Z]+$"
      class="form__input"
    />
    <input
      type="tel"
      name="tel"
      placeholder="Phone"
      required
      class="form__input"
    />
    <textarea
      name="text"
      cols="30"
      rows="10"
      placeholder="Comment"
      class="form__input form__input--comment"
    ></textarea>
    <button type="submit" class="form__button">Submit</button>
  </form>
</div>

<!-- Read More  -->

<div class="modal" data-modal="readmore">
  <button type="submit" class="modal__close js-modal-close" data-modal-close>
    <svg class="close" width="13px" height="13px">
      <use href="./images/symbol.svg#icon-menu-close_black"></use>
    </svg>
  </button>
  <h2 class="modal__readtitle">How it’s made?</h2>
  <div>
    <iframe
      width="448"
      height="205"
      src="https://www.youtube.com/embed/jHuGLNlET3o"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
      style="border-radius: 10px"
      class="modal__video"
    ></iframe>
  </div>
  <p class="modal__readtext">
    Our ice cream is made with love and only from natural ingredients. Millions
    of different flavors and ingredients. Cocktails and coffee drinks with ice
    cream. Come visit us to see all this beauty.
  </p>
</div>

<!-- Our Location -->

<div class="modal" data-modal="ourlocations">
  <button type="submit" class="modal__close js-modal-close" data-modal-close>
    <svg class="close" width="13px" height="13px">
      <use href="./images/symbol.svg#icon-menu-close_black"></use>
    </svg>
  </button>
  <h2 class="modal__loctitle">Our Locations</h2>
  <div>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10167.465355378507!2d30.5340837!3d50.4249619!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa1f7c65300bebad1!2zR29JVCB8IElUINCa0YPRgNGB0LggfCBJVCDQvtGB0LLRltGC0LAg0L7QvdC70LDQudC9!5e0!3m2!1sru!2sua!4v1673903938156!5m2!1sru!2sua"
      width="488"
      height="260"
      style="border: 0; border-radius: 10px"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
      class="modal__map"
    ></iframe>
  </div>
  <button type="button" class="form__button">
    <a href="https://goit.global/ua/" class="modal__link">Open map</a>
  </button>
</div>

<!-- Franchise  -->

<div class="modal" data-modal="franchise">
  <button type="submit" class="modal__close js-modal-close" data-modal-close>
    <svg class="close" width="13px" height="13px">
      <use href="./images/symbol.svg#icon-menu-close_black"></use>
    </svg>
  </button>
  <h2 class="modal__title">
    Thank you for your interest in owning an Ice Cream shop
  </h2>
  <p class="modal__text">
    The best solution for business Plombiro history started not so long ago, but
    during this time the company managed to win not only a leading position in
    the market, but also, no less important, the recognition and trust of
    millions of consumers. Buying a franchise of an ice cream parlor or a
    children's cafe with an established brand like Plombiro is a guaranteed
    success for your business.
  </p>
  <form class="form">
    <input
      type="text"
      name="name-user"
      placeholder="Name"
      required
      pattern="^[a-zA-Z]+$"
      class="form__input"
    />
    <input
      type="tel"
      name="tel"
      placeholder="Phone"
      required
      class="form__input"
    />
    <input
      type="email"
      name="mail"
      placeholder="Email"
      required
      class="form__input"
    />
    <textarea
      name="text"
      cols="30"
      rows="10"
      placeholder="Comment"
      class="form__input form__input--comment"
    ></textarea>
    <button type="submit" class="form__button">Submit</button>
  </form>
</div>
<div class="overlay is-hidden js-overlay-modal" data-modal></div>

<!-- products modal -->

<div class="modal " data-modal="chocolate-icecream" >
  <div class="modal-products-cream">
    <button class="modal-button js-modal-close" data-modal-close>
      <svg class="button-close__icon" width="20" height="20">
        <use href="./images/symbol.svg#icon-menu-close_black"></use>
      </svg>
    </button>
    <div class="modal-title-ice">
      <h2 class="modal-products__title-ice">Chololate icecream</h2>
    </div>

    <ul class="calories">
      <li class="calories-list calories-ice">
        <p class="calories-list__number">320</p>
        <p class="calories-list__text">kcal</p>
      </li>

      <li class="calories-list calories-ice">
        <p class="calories-list__number">4g</p>
        <p class="calories-list__text">Prote...</p>
      </li>
      <li class="calories-list calories-ice">
        <p class="calories-list__number">8,2g</p>
        <p class="calories-list__text">Fast</p>
      </li>
      <li class="calories-list calories-ice">
        <p class="calories-list__number">40,4g</p>
        <p class="calories-list__text">Carbs</p>
      </li>
    </ul>

    <ul class="ingredients">
      <h3 class="ingredients-title">Ingredients</h3>
      <li class="ingredients__item">
        <p class="ingredients__text">Milk</p>
        <p class="ingredients__text">100ml</p>
      </li>
      <li class="ingredients__item">
        <p class="ingredients__text">Belgian chocolate</p>
        <p class="ingredients__text">20g</p>
      </li>
      <li class="ingredients__item">
        <p class="ingredients__text">Cream</p>
        <p class="ingredients__text">150 ml</p>
      </li>
      <li class="ingredients__item">
        <p class="ingredients__text">Cocoa powder</p>
        <p class="ingredients__text">30g</p>
      </li>
      <li class="ingredients__item">
        <p class="ingredients__text">Sugar</p>
        <p class="ingredients__text">40g</p>
      </li>
      <li class="ingredients__item">
        <p class="ingredients__text">Vanilla sugar</p>
        <p class="ingredients__text">10g</p>
      </li>
    </ul>

    <form class="form-products">
      <input
        class="form-products__user"
        type="text"
        name="name"
        placeholder="Name"
        required
        pattern="^[a-zA-Z]"
      />

      <input
        class="form-products__user"
        type="tel"
        name="phone"
        placeholder="Phone"
        required
      />

      <textarea
        class="form-products__coments"
        name="text"
        rows="10"
        placeholder="Comment"
      ></textarea>

      <button type="submit" class="form-products__button">Submit</button>
    </form>
  </div>
</div>

<!-- COFFE -->

<!-- <div class="modal" data-modal="coffe-icecream"  > -->
  <div class=" modal" data-modal="coffe-icecream">
    <button class="modal-button js-modal-close" data-modal-close>
      <svg class="button-close__icon" width="20" height="20">
        <use href="./images/symbol.svg#icon-menu-close_black"></use>
      </svg>
    </button>
    <div class="modal-title-coffe">
      <h2 class="modal-products__title-coffe">Chololate icecoffe</h2>
    </div>

    <ul class="calories">
      <li class="calories-list calories-coffe">
        <p class="calories-list__number">27</p>
        <p class="calories-list__text">kcal</p>
      </li>

      <li class="calories-list calories-coffe">
        <p class="calories-list__number">2g</p>
        <p class="calories-list__text">Prote...</p>
      </li>
      <li class="calories-list calories-coffe">
        <p class="calories-list__number">1g</p>
        <p class="calories-list__text">Fast</p>
      </li>
      <li class="calories-list calories-coffe">
        <p class="calories-list__number">3g</p>
        <p class="calories-list__text">Carbs</p>
      </li>
    </ul>

    <ul class="ingredients">
      <h3 class="ingredients-title">Ingredients</h3>
      <li class="ingredients__item">
        <p class="ingredients__text">Milk</p>
        <p class="ingredients__text">50ml</p>
      </li>
      <li class="ingredients__item">
        <p class="ingredients__text">Water</p>
        <p class="ingredients__text">150ml</p>
      </li>
      <li class="ingredients__item">
        <p class="ingredients__text">Black coffee</p>
        <p class="ingredients__text">5g</p>
      </li>
      <li class="ingredients__item">
        <p class="ingredients__text">Ice</p>
        <p class="ingredients__text">50g</p>
      </li>
      <li class="ingredients__item">
        <p class="ingredients__text">Sugar</p>
        <p class="ingredients__text">20g</p>
      </li>
      <li class="ingredients__item">
        <p class="ingredients__text">Vanilla sugar</p>
        <p class="ingredients__text">1g</p>
      </li>
    </ul>

    <form class="form-products">
      <input
        class="form-products__user"
        type="text"
        name="name"
        placeholder="Name"
        required
        pattern="^[a-zA-Z]"
      />

      <input
        class="form-products__user"
        type="tel"
        name="phone"
        placeholder="Phone"
        required
      />

      <textarea
        class="form-products__coments"
        name="text"
        rows="10"
        placeholder="Comment"
      ></textarea>

      <button type="submit" class="form-products__button">Submit</button>
    </form>
  </div>
<!-- </div> -->

<!-- milkshakes -->

<div class="modal " data-modal="milkshakes-icecream" >
  <div class="modal-products-milkshakes">
    <button class="modal-button js-modal-close" data-modal-close>
      <svg class="button-close__icon" width="20" height="20">
        <use href="./images/symbol.svg#icon-menu-close_black"></use>
      </svg>
    </button>
    <div class="modal-title-milkshakes">
      <h2 class="modal-products__title-milkshakes">Chololate milkshake</h2>
    </div>

    <ul class="calories">
      <li class="calories-list calories-milkshakes">
        <p class="calories-list__number">671</p>
        <p class="calories-list__text">kcal</p>
      </li>

      <li class="calories-list calories-milkshakes">
        <p class="calories-list__number">15g</p>
        <p class="calories-list__text">Prote...</p>
      </li>
      <li class="calories-list calories-milkshakes">
        <p class="calories-list__number">37g</p>
        <p class="calories-list__text">Fast</p>
      </li>
      <li class="calories-list calories-milkshakes">
        <p class="calories-list__number">70g</p>
        <p class="calories-list__text">Carbs</p>
      </li>
    </ul>

    <ul class="ingredients">
      <h3 class="ingredients-title">Ingredients</h3>
      <li class="ingredients__item">
        <p class="ingredients__text">Milk</p>
        <p class="ingredients__text">250ml</p>
      </li>
      <li class="ingredients__item">
        <p class="ingredients__text">Marshmallows</p>
        <p class="ingredients__text">5</p>
      </li>
      <li class="ingredients__item">
        <p class="ingredients__text">Chocolate creams</p>
        <p class="ingredients__text">2scoops</p>
      </li>
      <li class="ingredients__item">
        <p class="ingredients__text">Double cream</p>
        <p class="ingredients__text">30ml</p>
      </li>
      <li class="ingredients__item">
        <p class="ingredients__text">Toasted hazelnuts</p>
        <p class="ingredients__text">1tsp</p>
      </li>
      <li class="ingredients__item">
        <p class="ingredients__text">Vanilla sugar</p>
        <p class="ingredients__text">1g</p>
      </li>
    </ul>

    <form class="form-products">
      <input
        class="form-products__user"
        type="text"
        name="name"
        placeholder="Name"
        required
        pattern="^[a-zA-Z]"
      />

      <input
        class="form-products__user"
        type="tel"
        name="phone"
        placeholder="Phone"
        required
      />

      <textarea
        class="form-products__coments"
        name="text"
        rows="10"
        placeholder="Comment"
      ></textarea>

      <button type="submit" class="form-products__button">Submit</button>
    </form>
  </div>
</div>