<section class="products" id="products">
  <div class="container">
    <p class="product__text">100% natural</p>
    <h2 class="product__title">products</h2>

    <div class="prod">
      <ul class="products-list">
        <li class="products-item cream">
          <h3 class="products-item__title">ice cream</h3>
          <p class="products-item__text">
            Soft ice cream with a delicate taste. Made with milk, cream, sugar
            and natural stabilizer
          </p>
          <button class="products-button" data-modal-open>
            <svg class="products-button__icon" width="40" height="16">
              <use href="./images/symbol.svg#icon-arrow"></use>
            </svg>
          </button>
        </li>

        <li class="products-item coffee">
          <h3 class="products-item__title">ice coffee</h3>
          <p class="products-item__text">
            Fragrant invigorating drink created from 100% natural ingredients
            without the use of preservatives and flavor enhancers
          </p>
          <button class="products-button">
            <svg class="products-button__icon" width="40" height="16">
              <use href="./images/symbol.svg#icon-arrow"></use>
            </svg>
          </button>
        </li>
        <li class="products-item milkshakes">
          <h3 class="products-item__title">milkshakes</h3>
          <p class="products-item__text">
            Sweet drinks based on milk and ice cream, supplemented with syrups,
            fruits, berries and other sweets of your choice
          </p>
          <button class="products-button">
            <svg class="products-button__icon" width="40" height="16">
              <use href="./images/symbol.svg#icon-arrow"></use>
            </svg>
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>

<!-- modal-products -->

<div class="backdrup is-hidden" data-modal>
  <div class="modal-products-cream">
    <button class="modal-button" data-modal-close>
      <svg class="button-close__icon" width="20" height="20">
        <use href="./images/symbol.svg#icon-menu-close_black"></use>
      </svg>
    </button>
    <div class="modal-title-ice">
      <h2 class="modal-products__title-ice">Chololate icecream</h2>
    </div>

    <ul class="calories">
      <li class="calories-list calories-ice">
        <p class="calories-list__number">320</p>
        <p class="calories-list__text">kcal</p>
      </li>

      <li class="calories-list calories-ice">
        <p class="calories-list__number">4g</p>
        <p class="calories-list__text">Prote...</p>
      </li>
      <li class="calories-list calories-ice">
        <p class="calories-list__number">8,2g</p>
        <p class="calories-list__text">Fast</p>
      </li>
      <li class="calories-list calories-ice">
        <p class="calories-list__number">40,4g</p>
        <p class="calories-list__text">Carbs</p>
      </li>
    </ul>

    <ul class="ingredients">
      <h3 class="ingredients-title">Ingredients</h3>
      <li class="ingredients__item">
        <p class="ingredients__text">Milk</p>
        <p class="ingredients__text">100ml</p>
      </li>
      <li class="ingredients__item">
        <p class="ingredients__text">Belgian chocolate</p>
        <p class="ingredients__text">20g</p>
      </li>
      <li class="ingredients__item">
        <p class="ingredients__text">Cream</p>
        <p class="ingredients__text">150 ml</p>
      </li>
      <li class="ingredients__item">
        <p class="ingredients__text">Cocoa powder</p>
        <p class="ingredients__text">30g</p>
      </li>
      <li class="ingredients__item">
        <p class="ingredients__text">Sugar</p>
        <p class="ingredients__text">40g</p>
      </li>
      <li class="ingredients__item">
        <p class="ingredients__text">Vanilla sugar</p>
        <p class="ingredients__text">10g</p>
      </li>
    </ul>

    <form class="form-products">
      <input
        class="form-products__user"
        type="text"
        name="name"
        placeholder="Name"
        required
        pattern="^[a-zA-Z]+\s[a-zA-Z]+$"
      />

      <input
        class="form-products__user"
        type="phone"
        name="phone"
        placeholder="Phone"
        required
        pattern="^[a-zA-Z]+\s[a-zA-Z]+$"
      />

      <textarea
        class="form-products__coments"
        name="text"
        rows="10"
        placeholder="Comment"
      ></textarea>

      <button type="submit" class="form-products__button">Submit</button>
    </form>
  </div>
</div>

<!-- COFFE -->

<div class="backdrup is-hidden">
  <div class="modal-products-coffe">
    <button class="modal-button">
      <svg class="button-close__icon" width="20" height="20">
        <use href="./images/symbol.svg#icon-menu-close_black"></use>
      </svg>
    </button>
    <div class="modal-title-coffe">
      <h2 class="modal-products__title-coffe">Chololate icecoffe</h2>
    </div>

    <ul class="calories">
      <li class="calories-list calories-coffe">
        <p class="calories-list__number">27</p>
        <p class="calories-list__text">kcal</p>
      </li>

      <li class="calories-list calories-coffe">
        <p class="calories-list__number">2g</p>
        <p class="calories-list__text">Prote...</p>
      </li>
      <li class="calories-list calories-coffe">
        <p class="calories-list__number">1g</p>
        <p class="calories-list__text">Fast</p>
      </li>
      <li class="calories-list calories-coffe">
        <p class="calories-list__number">3g</p>
        <p class="calories-list__text">Carbs</p>
      </li>
    </ul>

    <ul class="ingredients">
      <h3 class="ingredients-title">Ingredients</h3>
      <li class="ingredients__item">
        <p class="ingredients__text">Milk</p>
        <p class="ingredients__text">50ml</p>
      </li>
      <li class="ingredients__item">
        <p class="ingredients__text">Water</p>
        <p class="ingredients__text">150ml</p>
      </li>
      <li class="ingredients__item">
        <p class="ingredients__text">Black coffee</p>
        <p class="ingredients__text">5g</p>
      </li>
      <li class="ingredients__item">
        <p class="ingredients__text">Ice</p>
        <p class="ingredients__text">50g</p>
      </li>
      <li class="ingredients__item">
        <p class="ingredients__text">Sugar</p>
        <p class="ingredients__text">20g</p>
      </li>
      <li class="ingredients__item">
        <p class="ingredients__text">Vanilla sugar</p>
        <p class="ingredients__text">1g</p>
      </li>
    </ul>

    <form class="form-products">
      <input
        class="form-products__user"
        type="text"
        name="name"
        placeholder="Name"
        required
        pattern="^[a-zA-Z]+\s[a-zA-Z]+$"
      />

      <input
        class="form-products__user"
        type="phone"
        name="phone"
        placeholder="Phone"
        required
        pattern="^[a-zA-Z]+\s[a-zA-Z]+$"
      />

      <textarea
        class="form-products__coments"
        name="text"
        rows="10"
        placeholder="Comment"
      ></textarea>

      <button type="submit" class="form-products__button">Submit</button>
    </form>
  </div>
</div>

<!-- milkshakes -->

<div class="backdrup is-hidden">
  <div class="modal-products-milkshakes">
    <button class="modal-button">
      <svg class="button-close__icon" width="20" height="20">
        <use href="./images/symbol.svg#icon-menu-close_black"></use>
      </svg>
    </button>
    <div class="modal-title-milkshakes">
      <h2 class="modal-products__title-milkshakes">Chololate milkshake</h2>
    </div>

    <ul class="calories">
      <li class="calories-list calories-milkshakes">
        <p class="calories-list__number">671</p>
        <p class="calories-list__text">kcal</p>
      </li>

      <li class="calories-list calories-milkshakes">
        <p class="calories-list__number">15g</p>
        <p class="calories-list__text">Prote...</p>
      </li>
      <li class="calories-list calories-milkshakes">
        <p class="calories-list__number">37g</p>
        <p class="calories-list__text">Fast</p>
      </li>
      <li class="calories-list calories-milkshakes">
        <p class="calories-list__number">70g</p>
        <p class="calories-list__text">Carbs</p>
      </li>
    </ul>

    <ul class="ingredients">
      <h3 class="ingredients-title">Ingredients</h3>
      <li class="ingredients__item">
        <p class="ingredients__text">Milk</p>
        <p class="ingredients__text">250ml</p>
      </li>
      <li class="ingredients__item">
        <p class="ingredients__text">Marshmallows</p>
        <p class="ingredients__text">5</p>
      </li>
      <li class="ingredients__item">
        <p class="ingredients__text">Chocolate creams</p>
        <p class="ingredients__text">2scoops</p>
      </li>
      <li class="ingredients__item">
        <p class="ingredients__text">Double cream</p>
        <p class="ingredients__text">30ml</p>
      </li>
      <li class="ingredients__item">
        <p class="ingredients__text">Toasted hazelnuts</p>
        <p class="ingredients__text">1tsp</p>
      </li>
      <li class="ingredients__item">
        <p class="ingredients__text">Vanilla sugar</p>
        <p class="ingredients__text">1g</p>
      </li>
    </ul>

    <form class="form-products">
      <input
        class="form-products__user"
        type="text"
        name="name"
        placeholder="Name"
        required
        pattern="^[a-zA-Z]+\s[a-zA-Z]+$"
      />

      <input
        class="form-products__user"
        type="phone"
        name="phone"
        placeholder="Phone"
        required
        pattern="^[a-zA-Z]+\s[a-zA-Z]+$"
      />

      <textarea
        class="form-products__coments"
        name="text"
        rows="10"
        placeholder="Comment"
      ></textarea>

      <button type="submit" class="form-products__button">Submit</button>
    </form>
  </div>
</div>
<script src="./js/modal.js"></script>
