.mob__modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
   
    background-color: #84A178;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 99;
    &.is-open{   
        transform: translateX(0);
    }
    @media screen and(min-width: 1200px) {
        display: none;
    }
}
.mob__block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
.mob__button{
    background-color: transparent;
    border: none;
}


.mob__menu{
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.mob__block--flex{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.mob__items{
    &:not(:last-child){
        margin-bottom: 32px;
    }
}
.mob__links{
    @include font(700, 32, 39, null);
    color: var(--color-focus);
    &:hover{
        color: var(--color-base);
    }
    &:focus{
        color: var(--color-base);
    }
}
.mob__button--buy{
    @extend %button;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 152px;
    margin-bottom: 64px;
    background-color: var(--color-default);
    transition: background-color --cubic, color --cubic;
    &:hover{
        background-color: var(--color-hover);
    }
    &:focus{
        background-color: var(--color-hover);
        color: var(--color-focus);
        fill: var(--color-focus) ;
}
@media screen and (min-width: 768px){
    display: none;
}
    }

.button__img{
 margin-left: 4px;
}