// .unreal-test-box {
//   width: 100%;
//   height: 400px;
//   background-color: #ffffff;
// }

.contacts > .container {
  position: relative;
  top: -353px;
}

.contacts__title {
  display: none;
}

.contacts__boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.contacts__box:not(:last-child) {
  margin-bottom: 16px;
}

.contacts__box {
  max-width: 280px;
  padding: 40px 32px 24px 32px;

  background-color: var(--color-focus);
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
}

.contacts__box-item {
  position: relative;
}

.contacts__box-items {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.contacts__box-item:not(:last-child)::after {
  content: '';
  position: absolute;
  bottom: -24px;
  width: 100%;
  display: block;
  height: 1px;
  background-color: #e1e1e1;
}

.contacts__sub-title {
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.04em;
  color: var(--color-base);
}

.contacts__address {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  letter-spacing: 0.04em;
  color: #d6936d;
}

.contacts__address:hover,
.contacts__address:focus {
  text-decoration-line: underline;
}

.contacts__work-schedule-title {
  margin-bottom: 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  color: var(--color-base);
}

.contacts__work-schedule-item {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  color: #ababab;
}

.contacts__work-schedule-item:not(:last-child) {
  margin-bottom: 8px;
}

.contacts__tel-link,
.contacts__email-link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.9;
  color: var(--color-base);
}

.contacts__tel-link:hover,
.contacts__tel-link:focus,
.contacts__email-link:hover,
.contacts__email-link:focus {
  text-decoration: underline;
}

.contacts__box-button {
  @extend %button;
  display: block;
  margin-right: auto;
  padding: 4px 22px;
  min-width: 80px;
  min-height: 22px;
  margin-bottom: 20px;
  background-color: var(--color-default);
  border-radius: 4px;
  border: none;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: var(--color-base);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-fill {
  @extend %button;
  display: block;
  margin: 0 auto;
  padding: 10px 30px;
  min-width: 196px;
  min-height: 42px;
  margin-bottom: 16px;
  background-color: var(--color-default);
  border-radius: 10px;
  border: none;

  font-size: 14px;
  line-height: 1.28;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-transparent {
  @extend %button;
  display: block;
  margin: 0 auto;

  min-width: 196px;
  min-height: 42px;

  font-size: 14px;
  line-height: 1.28;
}

.button-icon {
  fill: #000000;
  margin-left: 4px;
}

// add colors ro root file:
// #000000
// #d6936d
// #e1e1e1
// #ABABAB
