.about-ice-comp {
    padding-top: 60px;
    padding-bottom: 50px;
}

.tradition-title__subtitle { 
    // @include font (700, 18px, 22px, null);
    text-align: center;
    text-transform: uppercase;
    color: var(--color-focus); 
    margin-bottom: 12px;
}
.tradition-title__title {
    width: 200px;
    font-family: 'Seymour One';
    // @include font (400, 30px, 38px, 00.04em);
    text-align: center;
    text-transform: uppercase;
    color: var(--color-focus);
    margin-bottom: 32px;
}
.pucture--circle {
    content: "";
    width: 279px;
    height: 278px;
    background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #D9D9D9;
    box-shadow: 0px 4.48583px 16.8218px rgba(153, 114, 23, 0.25);
    border-radius: 140px;
    margin-left: auto;
    margin-right: auto;
}
.pucture__img {
    margin-left: auto;
    margin-right: auto;
    width: 279px;
    height: 278px;
    position: relative;
    top: 22px;
    margin-bottom: 40px;
}
.content-wrap {
    width: 220px;
    height: 126px;
    margin-left: auto;
    margin-right: auto;
}
.content-wrap__ise-text {
    // @include font (400, 12px, 21px, 00.04em);
    color: var(--color-focus);
    margin-bottom: 4px;
    text-align: center;
}
.content-wrap__product-text {
    // @include font (400, 12px, 23px, 00.04em);
    color: var(--color-focus);
    margin-bottom: 24px;
    text-align: center;
    display: none;
}
.content-wrap__btn {
    font-family: 'Montserrat';
    // @include font(600, 14px, 18px, null);
    // display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    background-color: #F8D24E;
    padding: 12px 51px 12px 34px;
    width: 164px;
}
