.contacts__offset-container {
  position: relative;
  // top: -353px;
}

.contacts__boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  margin-bottom: 20px;
}

.contacts__box {
  max-width: 280px;
  padding: 40px 32px 24px 32px;
  background-color: var(--color-focus);
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
}

.contacts__box-item {
  position: relative;
}

.contacts__box-items {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.contacts__box-item:not(:last-child)::after {
  content: '';
  position: absolute;
  bottom: -24px;
  width: 100%;
  display: block;
  height: 1px;
  background-color: #e1e1e1;
}

.contacts__sub-title {
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.04em;
  color: var(--color-base);
}

.contacts__address {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  letter-spacing: 0.04em;
  color: #d6936d;
  transition: color, var(--cubic);
}

.contacts__address:hover,
.contacts__address:focus {
  text-decoration-line: underline;
  color: var(--color-hover);
}

.contacts__work-schedule-title {
  margin-bottom: 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  color: var(--color-base);
}

.contacts__work-schedule-item {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  color: #ababab;
}

.contacts__work-schedule-item:not(:last-child) {
  margin-bottom: 8px;
}

.contacts__tel-link,
.contacts__email-link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.9;
  color: var(--color-base);
  transition: color, var(--cubic);
}

.contacts__tel-link:hover,
.contacts__tel-link:focus,
.contacts__email-link:hover,
.contacts__email-link:focus {
  text-decoration: underline;
  color: var(--color-hover);
}

.contacts__box-button {
  @extend %button;
  display: block;
  margin-right: auto;
  padding: 4px 22px;
  min-width: 80px;
  height: 22px;
  margin-bottom: 20px;
  background-color: var(--color-default);
  border-radius: 4px;
  border: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: var(--color-base);
  transition: color, var(--cubic);
}

.contacts__box-button:hover {
  background-color: var(--color-hover);
}

.contacts__box-button:focus {
  background-color: var(--color-hover);
  color: var(--color-focus);
}

.contacts__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.button-icon {
  fill: #000000;
  margin-left: 4px;
  transition: fill, var(--cubic);
}

.button-fill {
  @extend %button;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  min-width: 196px;
  height: 42px;
  background-color: var(--color-default);
  border-radius: 10px;
  border: none;
  font-size: 14px;
  line-height: 1.28;
  transition: color, background-color, var(--cubic);
}

.button-fill:hover {
  background-color: var(--color-hover);
}

.button-fill:focus {
  background-color: var(--color-hover);
  color: var(--color-focus);
  & .button-icon {
    fill: #ffffff;
  }
}

.button-transparent {
  @extend %button;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 196px;
  height: 42px;
  font-size: 14px;
  line-height: 1.28;
  transition: color, border-color, var(--cubic);
}

.button-transparent:hover {
  border-color: var(--color-hover);
}

.button-transparent:focus {
  border-color: var(--color-hover);
  color: var(--color-focus);
  & .button-icon {
    fill: #ffffff;
  }
}

@include tablet {
  .contacts__box {
    max-width: 224px;
  }
  .contacts__boxes {
    margin-bottom: 40px;
  }
  .contacts__buttons {
    flex-direction: row;
    justify-content: center;
  }
  .contacts__offset-container {
    position: relative;
    // top: -299px;
  }
}

@include desktop {
  .contacts__box {
    max-width: 368px;
  }
  .contacts__boxes {
    gap: 32px;
    margin-bottom: 60px;
  }
  .contacts__offset-container {
    position: relative;
    // top: -128px;
  }
}

// add colors ro root file:
// #000000
// #d6936d
// #e1e1e1
// #ABABAB
