.footer__box {
  margin-bottom: 40px;
@include tablet{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
} 
@include desktop {
  margin-bottom: 60px;
}
}
    
.footer__thumb {
  width: 234px;
  @include tablet-max {
    margin-bottom: 60px;
  }
  @include tablet {
  width: 352px;
  }
  @include desktop{
    width:504px;
  }
}

.footer__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--color-focus);
  margin-bottom: 16px;
  @include tablet {
  font-size: 26px;
  letter-spacing: 0.04em;
  margin-bottom: 8px;
  }
  @include desktop {
    margin-bottom: 14px;
  font-weight: 400;
  font-size: 30px;
  }
}

.footer__subtitle {
  font-weight: 700;
  font-size: 34px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--color-focus);
  @include tablet {
 font-size: 48px;
 letter-spacing: 0.06em;
  }
  @include desktop{
    font-size: 58px;
  }
}

.footer__socials__list {
display: flex;
justify-content: end;
gap: 20;
margin-bottom: 20px;
@include tablet {
  gap: 30;
  margin-bottom: 34px;
}
@include desktop {
margin-bottom: 40px;
}
}

.footer__socials__link {
  width: 34px;
  height: 34px;
  fill: var(--color-bg);
  background-color: #f8d24e;
  border-radius: 50%;
  transition: fill 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  @include flex-align-justify ;
  &:hover,
  &:focus {
    fill: var(--color-focus);
  }
}

.footer__tel {
text-align: right;
}

.footer__tel__link {
font-weight: 700;
font-size: 12px;
line-height: 1.8;
color: var(--color-focus);
@include tablet{
font-size: 14px;
}
@include desktop {
  font-size: 16px;
  letter-spacing: 0.02em;
}
}

.footer__tel__text {
color:var(--color-base);
}

.license__box {
border-top: 1px solid #E1E1E1;
padding: 20px 0;
@include tablet {
padding:12px 0;
}
}

.license__text {
width: 150px;
margin: 0 auto;
font-weight: 700;
font-size: 14px;
line-height: 1.5;
text-align: center;
color: var( --color-disabled);
@include tablet{
 width: 100%;
 line-height: 1.8;   
}
@include desktop {
  font-size: 12px;
}
}
