.section__galery {
    padding: 32px auto 40px auto;
}

.galery {
    width: 100%;
    height: 100%;
    padding: 0 auto;

    @include tablet {
        min-height: 327px;
    }

    @include desktop {
        min-height: 422px;
    }

    & picture {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    & .slick-initialized .slick-slider {
        width: 100%;
    }

    & .slick-list {
        overflow: hidden;
    }

    & .slick-track {
        display: flex;
        align-items: flex-start;
    }
}

.galery__item {
    display: flex;
    justify-content: center;
    align-items: center;
}