.products {
  background-image: url(..//images/backgroud_mobile-1x.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(..//images/backgroud_mobile-2x.jpg);
  }

  @media screen and (min-width: 768px) {
    background-image: url(..//images/background_tablet-1x.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(..//images/background_tablet-2x.jpg);
    }
  }

  @media screen and (min-width: 1200px) {
    background-image: url(..//images/backgroud_desktop-1x.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(..//images/backgroud_desktop-2x.jpg);
    }
  }
}

.product__text {
  margin-bottom: 12px;

  font-weight: 800;
  font-size: 18px;
  line-height: 1.22;

  text-align: center;
  text-transform: uppercase;

  color: var(--color-base);

  @media screen and (min-width: 768px) {
    font-size: 22px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 30px;
    line-height: 1.23;
    letter-spacing: 0.04em;
  }
}
.product__title {
  margin-bottom: 148px;

  font-family: 'Seymour One';
  font-weight: 400;
  font-size: 30px;
  line-height: 1.26;

  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: var(--color-base);

  @media screen and (min-width: 480px) {
    margin-bottom: 145px;
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 200px;
    font-size: 34px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 303px;
    font-size: 36px;
    line-height: 1.25;
    letter-spacing: 0.06em;
  }
}

.products-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 168px;

  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
  @media screen and (min-width: 768px) {
    gap: 16px;
  }

  @media screen and (min-width: 1200px) {
    gap: 29px;
  }
}

.products-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  padding: 123px 40px 4px;

  max-width: 280px;
  height: 420px;

  border-radius: 24px;

  transition: transform 300ms linear;

  @media screen and (min-width: 480px) {
    padding: 126px 25px 4px;
    width: 250px;
    height: 428px;
  }

  @media screen and (min-width: 768px) {
    padding: 108px 26px 0;
  }

  @media screen and (min-width: 1200px) {
    padding: 165px 64px 48px;
    min-width: 370px;
    height: 536px;
  }

  &:hover {
    transform: scale(1.1);
  }
}

// @media screen and (max-width: 767px) {
//   .products-item:not(:last-child) {
//     margin-bottom: 168px;
//   }
// }

.cream {
  background-color: #aec6a5;
  box-shadow: 4px 4px 8px 8px rgba(174, 198, 165, 0.5);
}

.coffee {
  background-color: #efd478;
  box-shadow: 4px 4px 8px 8px rgba(239, 212, 120, 0.5);
}

.milkshakes {
  background-color: #d6936d;
  box-shadow: 4px 4px 8px 8px rgba(214, 147, 109, 0.5);
}

.products-item.cream::before {
  position: absolute;
  content: '';
  width: 200px;
  height: 200px;
  top: -100px;
  left: 50%;
  transform: translate(-50%);
  border-radius: 100%;
  background: linear-gradient(
      0deg,
      rgba(156, 190, 143, 0.7),
      rgba(156, 190, 143, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);

  @media screen and (min-width: 768px) {
    box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
  }

  @media screen and (min-width: 1200px) {
    width: 302px;
    height: 302px;
    top: -151px;
    box-shadow: 0px 8px 30px rgba(10, 136, 23, 0.25);
  }
}

.products-item.cream::after {
  position: absolute;
  content: '';
  display: block;
  width: 200px;
  height: 200px;
  top: -111px;
  left: 50%;
  transform: translate(-50%);
  background-image: url(../images/product1_mobile-1x.png);
  background-size: cover;

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/product1_mobile-2x.png);
  }

  @media screen and (min-width: 768px) {
    top: -112px;
  }
  @media screen and (min-width: 1200px) {
    width: 302px;
    height: 302px;
    top: -167px;
    background-image: url(../images/product1_desktop-1x.png);

    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/product1_desktop-2x.png);
    }
  }
}

.products-item.coffee::before {
  position: absolute;
  content: '';
  width: 200px;
  height: 200px;
  top: -100px;
  left: 50%;
  transform: translate(-50%);
  border-radius: 100%;
  background: linear-gradient(
      0deg,
      rgba(248, 210, 78, 0.7),
      rgba(248, 210, 78, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 5.40397px 20.2649px rgba(153, 114, 23, 0.25);

  @media screen and (min-width: 768px) {
    box-shadow: 0px 5.26027px 19.726px rgba(153, 114, 23, 0.25);
  }

  @media screen and (min-width: 1200px) {
    width: 302px;
    height: 302px;
    top: -151px;
    box-shadow: 0px 8px 30px rgba(153, 114, 23, 0.25);
  }
}

.products-item.coffee::after {
  position: absolute;
  content: '';
  display: block;
  width: 200px;
  height: 200px;
  top: -111px;
  left: 50%;
  transform: translate(-50%);
  background-image: url(../images/product2_mobile-1x.png);
  background-size: cover;

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/product2_mobile-2x.png);
  }

  @media screen and (min-width: 768px) {
    top: -112px;
  }

  @media screen and (min-width: 1200px) {
    width: 302px;
    height: 302px;
    top: -167px;
    background-image: url(../images/product2_desktop-1x.png);

    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/product2_desktop-2x.png);
    }
  }
}

.products-item.milkshakes::before {
  position: absolute;
  content: '';
  width: 200px;
  height: 200px;
  top: -100px;
  left: 50%;
  transform: translate(-50%);
  border-radius: 100%;
  background: linear-gradient(
      0deg,
      rgba(213, 117, 63, 0.7),
      rgba(213, 117, 63, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 5.41333px 20.3px rgba(0, 0, 0, 0.25);

  @media screen and (min-width: 768px) {
    box-shadow: 0px 5.26027px 19.726px rgba(0, 0, 0, 0.25);
  }

  @media screen and (min-width: 1200px) {
    width: 302px;
    height: 302px;
    top: -151px;
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.25);
  }
}

.products-item.milkshakes::after {
  position: absolute;
  content: '';
  display: block;
  width: 200px;
  height: 200px;
  top: -111px;
  left: 50%;
  transform: translate(-50%);
  background-image: url(../images/product3_mobile-1x.png);
  background-size: cover;

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/product3_mobile-2x.png);
  }

  @media screen and (min-width: 768px) {
    top: -112px;
  }

  @media screen and (min-width: 1200px) {
    width: 302px;
    height: 302px;
    top: -167px;
    background-image: url(../images/product3_desktop-1x.png);

    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/product3_desktop-2x.png);
    }
  }
}

.products-item__title {
  margin-bottom: 40px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--color-base);

  @media screen and (min-width: 768px) {
    font-size: 22px;
    line-height: 1.22;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 66px;
    font-size: 30px;
    line-height: 1.23;
  }
}

.products-item__text {
  // padding-bottom: 133px;
  margin-bottom: auto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.76;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--color-base);

  @media screen and (min-width: 1200px) {
    font-size: 16px;
  }
}

.products-button {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: transparent;
  border: none;
  color: var(--color-focus);
}

.products-button__icon:hover {
  fill: currentColor;
}

// ===================MODAL-CREAM=====================

.modal-products-cream {
  max-height: 100%;
  padding: 28px 20px;

  background: var(--color-focus);
  border: 2px solid #f8d24e;
  border-radius: 10px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;

  @media screen and (min-width: 768px) {
    min-width: 568px;
    height: 996px;
    padding: 32px 40px;
  }
}

.modal-products-cream::before {
  position: absolute;
  content: '';
  width: 132px;
  height: 132px;
  top: 111px;
  left: 50%;
  transform: translate(-50%);
  border-radius: 100%;
  background: linear-gradient(
      0deg,
      rgba(156, 190, 143, 0.7),
      rgba(156, 190, 143, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
}

.modal-products-cream::after {
  position: absolute;
  content: '';
  display: block;
  width: 132px;
  height: 132px;
  top: 104px;
  left: 50%;
  transform: translate(-50%);
  background-image: url(../images/info_modal1-1x.png);
  background-size: cover;

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/info_modal1-2x.png);
  }
}

.modal-button {
  position: absolute;
  display: flex;
  align-items: center;

  top: 12px;
  right: 12px;

  background: var(--color-focus);
  border: none;
}

.modal-title-ice {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 181px;
}

.modal-products__title-ice {
  width: 142px;
  text-align: center;

  font-family: 'Seymour One';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
}

.calories {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 35px;

  @media screen and (min-width: 768px) {
    margin-bottom: 48px;
  }
}

.calories-list {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;

  padding: 8px 0;

  width: 53px;
  height: 72px;
  border: 2px solid #9cbe8f;
  border-radius: 40px;
}

.calories-list:not(:last-child) {
  margin-right: 9px;
}

.calories-ice::after {
  position: absolute;
  content: '';
  width: 43px;
  height: 43px;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  border-radius: 100%;

  background: #9cbe8f;
  border: 2px solid #9cbe8f;
  box-shadow: 0px 6px 20px rgba(10, 136, 23, 0.25);
}

.calories-list__text,
.calories-list__number {
  z-index: 1;
}

.calories-list__number {
  font-weight: 500;
  font-size: 10px;
  line-height: 2.8;
  color: var(--color-base);
}

.calories-list__text {
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  color: var(--color-base);
}

.ingredients {
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    margin-bottom: 48px;
  }
}

.ingredients-title {
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
  text-align: center;
  color: var(--color-base);
}

.ingredients__item {
  display: flex;
  justify-content: space-between;
}

.ingredients__item:not(:last-child) {
  margin-bottom: 11px;
}

.ingredients__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.76;
  letter-spacing: 0.04em;
  color: var(--color-base);
}

// modal-form

@media screen and (min-width: 768px) {
  .form-products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.form-products__user,
.form-products__coments {
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a178;
  border-radius: 10px;
}

.form-products__user {
  width: 100%;

  padding: 11px;

  margin-bottom: 16px;

  @media screen and (min-width: 768px) {
    width: 368px;
    margin-bottom: 32px;
  }
}

.form-products__coments {
  width: 100%;

  margin-bottom: 24px;
  padding: 11px;
  height: 84px;

  @media screen and (min-width: 768px) {
    width: 368px;
    margin-bottom: 32px;
  }
}

.form-products__coments::placeholder {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #131313;
}

.form-products__button {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0 auto;
  padding: 12px 34px;

  font-weight: 600;
  font-size: 14px;
  line-height: 17px;

  background: #f8d24e;
  color: var(--color-base);

  border: none;
  border-radius: 10px;
}

// ==================MODAL COFFE====================

.modal-products-coffe {
  max-height: 100%;
  padding: 28px 20px;

  // min-height: 968px;

  background: var(--color-focus);
  border: 2px solid #f8d24e;
  border-radius: 10px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;

  @media screen and (min-width: 768px) {
    min-width: 568px;
    height: 996px;
    padding: 32px 40px;
  }
}

.modal-products-coffe::before {
  position: absolute;
  content: '';
  width: 132px;
  height: 132px;
  top: 111px;
  left: 50%;
  transform: translate(-50%);
  border-radius: 100%;
  background: linear-gradient(
      0deg,
      rgba(248, 210, 78, 0.7),
      rgba(248, 210, 78, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 5.26027px 19.726px rgba(153, 114, 23, 0.25);
}

.modal-products-coffe::after {
  position: absolute;
  content: '';
  display: block;
  width: 132px;
  height: 132px;
  top: 104px;
  left: 50%;
  transform: translate(-50%);
  background-image: url(../images/info_modal2-1x.png);
  background-size: cover;

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/info_modal2-2x.png);
  }
}

.modal-title-coffe {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 181px;
}

.modal-products__title-coffe {
  width: 142px;
  text-align: center;

  font-family: 'Seymour One';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
}

.calories-coffe::after {
  position: absolute;
  content: '';
  width: 43px;
  height: 43px;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  border-radius: 100%;

  background: #f8d24eb2;
  border: 2px solid #f8d24eb2;
  box-shadow: 0px 6px 20px rgba(153, 114, 23, 0.25);
}

// =================modal-milkshakes=================

.modal-products-milkshakes {
  max-height: 100%;
  padding: 28px 20px;

  // min-height: 968px;

  background: var(--color-focus);
  border: 2px solid #f8d24e;
  border-radius: 10px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;

  @media screen and (min-width: 768px) {
    min-width: 568px;
    height: 996px;
    padding: 32px 40px;
  }
}

.modal-products-milkshakes::before {
  position: absolute;
  content: '';
  width: 132px;
  height: 132px;
  top: 111px;
  left: 50%;
  transform: translate(-50%);
  border-radius: 100%;
  background: linear-gradient(
      0deg,
      rgba(213, 117, 63, 0.7),
      rgba(213, 117, 63, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 5.26027px 19.726px rgba(0, 0, 0, 0.25);
}

.modal-products-milkshakes::after {
  position: absolute;
  content: '';
  display: block;
  width: 132px;
  height: 132px;
  top: 104px;
  left: 50%;
  transform: translate(-50%);
  background-image: url(../images/info_modal3-1x.png);
  background-size: cover;

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/info_modal3-2x.png);
  }
}

.modal-title-milkshakes {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 181px;
}

.modal-products__title-milkshakes {
  width: 142px;
  text-align: center;

  font-family: 'Seymour One';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
}

.calories-milkshakes::after {
  position: absolute;
  content: '';
  width: 43px;
  height: 43px;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  border-radius: 100%;

  background: #d5753fb2;
  border: 2px solid #d5753fb2;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.25);
}
